/* style.css */
* {
  box-sizing: border-box;
}
body {
  font-family: Arial, sans-serif;
  margin: 0px;
}

/* ========== main-nav ========== */
.main-nav {
  position: fixed; /* reste en haut */
  top: 0;
  left: 0;
  width: 100%;

  height: 48px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 10px 10px;
  background-color: #6e6eff;
  color: rgb(0, 0, 0);
}

.nav-left {
  margin: 2px;
  padding: 2px;
  display: flex;
  align-items: center;
  gap: 10px;
  border-radius: 6px;
  background-color: #9099fa;
}
.nav-middle {
  display: flex;
  margin: 2px;
  color: rgba(240, 240, 255, 1);
}

h1 {
  text-align: center;
  margin: 2px;
  color: rgba(240, 240, 255, 1);
}

.nav-right {
  display: flex;
  align-items: center;
  gap: 10px;

  color: white;
  text-decoration: none;
  margin-right: 20px;
}

.logo img {
  height: 40px;
  width: auto;
  cursor: pointer;
}

.btn-carte,
.btn-stats,
.btn-records,
.btn-activities {
  height: 30px;
  color: rgba(240, 240, 255, 1);
  border-radius: 6px;
  border-color: #ffffff00;
  background-color: #9099fa;
  cursor: pointer;
}

#activity-table,
#statistics-table,
#running-records-table,
#cycling-records-table,
#swimming-records-table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

#activity-table th,
#activity-table td,
#statistics-table th,
#statistics-table td,
#running-records-table th,
#running-records-table td,
#cycling-records-table th,
#cycling-records-table td,
#swimming-records-table th,
#swimming-records-table td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}

#records-table th,
#laps-table th,
#activity-table th,
#statistics-table th,
#running-records-table th,
#cycling-records-table th,
#swimming-records-table th {
  background-color: #f2f2f2;
  font-weight: bold;
}

#records-table,
#laps-table,
tr:nth-child(even) #activity-table tr:nth-child(even),
#statistics-table tr:nth-child(even),
#running-records-table tr:nth-child(even),
#cycling-records-table tr:nth-child(even),
#swimming-records-table tr:nth-child(even) {
  background-color: #f9f9f9;
}

#records-table tr:hover,
#laps-table tr:hover,
#activity-table tr:hover,
#statistics-table tr:hover,
#running-records-table tr:hover,
#cycling-records-table tr:hover,
#swimming-records-table tr:hover {
  background-color: #f1f1f1;
}

.laps,
.filters {
  margin-top: 20px;
}

.laps select,
.filters select {
  margin-right: 10px;
  padding: 5px;
}

.tabs {
  margin-top: 20px;
}

.tab-button {
  background-color: #f2f2f2;
  border: none;
  padding: 10px 20px;
  margin-right: 5px;
  cursor: pointer;
}

.tab-button.active {
  background-color: #ddd;
}

.tab-content {
  display: none;
  margin-top: 20px;
}

.tab-content.active {
  display: block;
}

#toggle-all {
  padding: 10px 12px;
  margin-bottom: 10px;
  background-color: #4caf50;
  color: white;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  font-size: 14px;
  transition: background-color 0.3s ease;
}
#toggle-all:hover {
  background-color: #45a049;
}

.timeline-handle {
  width: 20px;
  height: 20px;
  background-color: red;
  border-radius: 50%;
  position: absolute;
  top: -6px;
  transform: translateX(-50%);
  cursor: pointer;
  z-index: 1001;
}
.laps-btn,
.chart-button,
.filter-btn {
  padding: 8px 14px;
  border: 1px solid #ccc;
  background: white;
  border-radius: 6px;
  cursor: pointer;
  transition: 0.2s;
  margin: 3px;
}

.laps-btn:hover,
.chart-button:hover,
.filter-btn:hover {
  background: #eaeaea;
}

.laps-btn.active,
.chart-button.active,
.filter-btn.active {
  background-color: #007bff;
  color: white;
  border-color: #007bff;
}

/* Conteneur global pour placer les deux blocs côte à côte */
.page-layout {
  border: 2px solid #4d258e;
  display: flex;
  align-items: stretch;
  flex-direction: row;
  width: 100%;
  max-height: 35vh; /* clé */
  aspect-ratio: 29/ 9;
  gap: 10px;
}

/* Tableau à gauche (1 part) */
#records-table,
#laps-table {
  width: 100%;
  flex: 1; /* Tableau = 1 part */
  height: 100%;
  overflow-y: auto; /* Si besoin de scroll */
  border-collapse: collapse;
}

#records-table th,
#records-table td,
#laps-table th,
#laps-table td {
  padding: 6px 10px;
  border-bottom: 1px solid #ddd;
}

#records-table thead,
#laps-table thead {
  position: sticky;
  top: 0;
  background: white;
  z-index: 10;
}

/* ========== LAYOUT ACTIVITY.HTML ========== */
.layout-activity {
  flex: 2;
  width: 50%;
  height: 100%;
}

.layout-activity #map {
  width: 100%;
  height: 100%;
}

/* ========== LAYOUT MAP.HTML (pleine page) ========== */
html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

.layout-fullmap {
  width: 100%;
  height: 100%;
}

.layout-fullmap #map {
  width: 100%;
  height: 100%;
}

.end-icon {
  color: rgba(255, 169, 255, 1);
}

/* Centrer tout le tableau */
#records-table th,
#records-table td,
#laps-table th,
#laps-table td {
  text-align: center;
  vertical-align: middle;
}

/* Style pour les unités (dans les en-têtes) */
#records-table th small,
#laps-table th small {
  font-size: 0.75em; /* Plus petit */
  color: #666; /* Moins foncé */
  font-weight: normal; /* Enlever le gras */
}

.main-container {
  display: flex;
  margin-top: 68px;
  width: 100%;
}

.main-content {
  display: flex;
  flex-direction: column;
  width: 65%;
}

.side-nav {
  flex: 1;
  width: 25%;
}

.chart {
  min-width: 0;
  height: 100%;
}

.chart-bar {
  flex: 1 1 auto;
  min-width: 350px;
}

.chart-pie {
  aspect-ratio: 1/1;
  height: 100%;
  min-height: 200px;
  max-height: 400px;
  flex: 0 0 auto;
}

.chart canvas {
  height: 100%;
  display: block;
}
